@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Lora:ital,wght@1,500&family=Merriweather:ital,wght@1,300&family=Neonderthaw&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lora', serif;
}
.right-nav{
	text-align: right;
	width: 30%;
}
.logo{
    width: 69%;
    display: flex;
	padding: 3px

}
.logo img{
    width: 13%;
    border: 3px solid white;
    border-radius: 50px;
    float: left;
    margin: 5px 1140px;
}
.wrapper{
	margin: 0px, 0px;
	width:  100%;
}
.text-footer{
    align-items: center;
    padding: 5px;
    justify-content: center;
    display: flex;
    background-color: gray;
    color: white;
}

.main{
	width: 100%;
	float: left;
	height: 100vh;
	background-image: url(bg2.jpg);
	background-size: 100%;
	overflow: hidden;
}

.nav{
    top: 0;
	width:100%;
	position: sticky;
	float: right;
	background-color: rgba(0,0,0,.5);
}
ul{
	list-style-type: none;
	overflow: hidden;
	display:  block;
	float: left;
}
.alag div{
	float: right;
}
li{
	float: left;
}
li:last-child{
border-right: none;
}
a{
	display: block;
	color: #fff;
	text-align: center;
	padding: 20px 32px 26px 32px;
	text-decoration: none;
	font-size: 19px;
	transiton: all .5s;


}
a:hover{
	background-color:white;
	opacity: 100;
	color: black;
}
.search{
	float: right;
}
.search input{
	width: 300px;
	height: 30px;
	margin: 20px 20px 0px 0px;
	border-radius: 15px;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,.2);
	opacity: .5;
	padding-left: 20px;
	color: #fff;
	font-size: 18px;
}
article{
	width: 13.5%;
	margin-left: 10%;
	background-color: rgb(15 34 51 / 55%);
    color: #000;
	display: block;
	float: left;
	text-align: center;
	padding: 0px 57px 0px -1px;
	margin-top: 300px;
	height: 800px;
	font-size: 18px;
	border-radius: 40px 40px 0px 0px;
	transition: all .5s

}
.imglogo
{
    width: 124px;
    margin-top: 50px;
}
.imglogo1
{
    width: 124px;
    margin-top: 20px;
}
.bord{
    border: solid;
    border-radius: 32px;
}
article p,article h1{
	margin-top: 20px ;

}
article:hover{
	background-color:rgb(42, 186, 186);
	opacity: .7;
	margin-top: 250px;
}
