<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Department</title>  
</head>  
<body>  
    <h2>Department Information</h2>   
    <form action = "/savedeptdetails" method="post">  
    <table>  
        <tr><td>Department number </td><td><input type="integer" name="dnumber"></td></tr>  
        <tr><td>Department name </td><td><input type="text" name="name"></td></tr>
        <tr><td>Head of Derpartment's Id</td><td><input type="integer" name="hodid"></td></tr>  

        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</ht