<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/main4.css">
 
</head>
<body>
   <div class = "wrapper">
   	 <div class="main">
   	 	<div class = "nav">
          <ul>
          	<li><a href="/index2">HOME</a></li>
          
			  <div class="logo right-nav"><img src="static/logo.jpg" alt="logo" width="333px"></div>
          </ul>
          
   	 	</div>
   	 	<div class ="content">
   	 		
   	 	</div>
   	 	<div class ="content">

   	 		<article class = "bord">
						<ul >
						  <li><a class="dropdown-item" href="/viewl"> View Employee Database</a></li>
                          <img src="static/R.png" class = "imglogo" alt="logo">
						</ul>

   	 		</article>
   	 		<article  class = "bord">
				<ul>

					<li><a class="dropdown-item" href="/viewl2">View Department Database</a></li>
                    <img src="static/k11.png" class = "imglogo1" alt="logo">
				  </ul>
   	 		</article>
   	 		<article class = "bord">
				<ul >

					<li><a class="dropdown-item" href="/viewl3">View Employee leave Record</a></li>
                    <img src="static/l.png" class = "imglogo" alt="logo">
				  </ul>
   	 		</article>
				<article class = "bord">
				<ul >

					<li><a class="dropdown-item" href="/viewl4">View faculty Record</a></li>
					  <img src="static/f.png" class = "imglogo" alt="logo">
				  </ul>
				</article>


        </div>


        </div>
   	 </div>
    </div>

	<footer class="text-footer">
        copywrite &copy; 2022 e-Staff Management All rights reserved
    </footer>
</body>
</html>