<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
 
</head>
<body>
   <div class = "wrapper">
   	 <div class="main">
   	 	<div class = "nav">
          <ul>
          	<li><a href="/index">HOME</a></li>
          
			  <div class="logo right-nav"><img src="static/logo.jpg" alt="logo" width="333px"></div>
          </ul>
          
   	 	</div>
   	 	<div class ="content">
   	 		
   	 		<article class = "bord">
						<ul >
							<img src="static/db.png" class = "imglogo" alt="logo">
						  <li><a class="dropdown-item" href="/view"> View Employee Database</a></li>
						  <li><a class="dropdown-item" href="/view2">View Department Database</a></li>
						  <li><a class="dropdown-item" href="/view3">View Leave Database</a></li>
						  <li><a class="dropdown-item" href="/view4">View faculty Database</a></li>

						</ul>

   	 		</article>
   	 		<article class = "bord">
				<ul >
					<img src="static/a.png" class = "imglogo" alt="logo">
					<li><a class="dropdown-item" href="/add"> Add in Employee Database</a></li>
					<li><a class="dropdown-item" href="/add2">Add in Department Database</a></li>
					<li><a class="dropdown-item" href="/add3">Add in Leave Database</a></li>
					<li><a class="dropdown-item" href="/add4">Add in faculty Database</a></li>
				  </ul>
   	 		</article>
   	 		<article class = "bord">
				<ul >
					<img src="static/d.png" class = "imglogo" alt="logo">
					<li><a class="dropdown-item" href="/delete">Delete Employee Record</a></li>
					<li><a class="dropdown-item" href="/delete2">Delete Department Record</a></li>
					<li><a class="dropdown-item" href="/delete3">Delete leave Record</a></li>
					<li><a class="dropdown-item" href="/delete4">Delete faculty Record</a></li>
				  </ul>
   	 		</article>
				<article class = "bord">
				<ul >
					<img src="static/u.png" class = "imglogo" alt="logo">
	         		<li><a class="dropdown-item" href="/update"> Update Employee Record</a></li>
					<li><a class="dropdown-item" href="/update2"> Update Department Record</a></li>
					<li><a class="dropdown-item" href="/update3">Update leave Record</a></li>
					<li><a class="dropdown-item" href="/update4">Update faculty Record</a></li>
				  </ul>
				</article>


        </div>
   	 </div>
    </div>

	<footer class="text-footer">
        copywrite &copy; 2022 e-Staff Management All rights reserved
    </footer>
</body>
</html>