<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginform</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/stylelogin.css">
    <style>
        h1{
        font-family:'lato';
        }
        p{
        font-family: 'Orbitron', sans-serif;
        }
    </style>

</head>
<body>
<div class="login-form">
    <h1>Login Form</h1>
    <form method = "post" action = "http://localhost:5000/success">  
        <p>User Name</p>
        <input type = 'email' name = 'email'>
        <p>Password</p>
        <input type = 'password' name = 'pass'>
        <button type="submit" value = "Submit">Login</button>


    </form>

</div>

</body>
</html>